@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: "GeistSans";
  src: url("./fonts/helvetica_regular.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "GeistMono";
  src: url("./fonts/REBELTONITALIC-Light.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  --font-geist-sans: "GeistSans", sans-serif;
  --font-geist-mono: "GeistMono", monospace;

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
} */
